# Created by https://www.toptal.com/developers/gitignore/api/windows,macos,node
# Edit at https://www.toptal.com/developers/gitignore?templates=windows,macos,node

### macOS ###
.DS_Store
.AppleDouble
.LSOverride

### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

### Node ###
node_modules/

### IDE ###
.vscode/
.idea/

### Temp ###
*.tmp
*.log
